asgiref==3.11.1
Django==6.0.5
gunicorn==23.0.0
django-cors-headers==4.9.0
django-extensions==4.1
django-filter==25.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
mssql-django==1.7.2
mysqlclient==2.2.7
pillow==12.2.0
PyJWT==2.13.0
pyodbc==5.3.0
python-dotenv==1.2.2
pytz==2026.2
sqlparse==0.5.5
tzdata==2026.2
openpyxl==3.1.5
reportlab==5.0.1
